@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");

body {
    background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
    font-family: "Catamaran", sans-serif;
}

body,
html {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 6.85rem 1fr;
    grid-template-rows: 6.85rem 1fr;
    height: 100%;
}

.content-sidebar {
    border-right: #505050 solid 1px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-sidebar__button {
    display: block;
    position: relative;
    width: 100%;
    height: 6.125rem;
    background: linear-gradient(127.44deg, #505050 0, #383838 100%);
    border: none;
}

.content-sidebar__button::after {
    position: absolute;
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../images/menu2.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
}

.content-sidebar__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 3.125rem;
}

.content-sidebar__link {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    background-repeat: no-repeat;
    background-position: center center;
}

.content-sidebar__fb {
    background-image: url(../images/facebook.svg);
    background-size: cover;
}

.content-sidebar__ig {
    background-image: url(../images/instagram.svg);
    background-size: cover;
}

.content-sidebar__tw {
    background-image: url(../images/twitter.svg);
    background-size: cover;
}

.content-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3.1rem;
    padding-left: 3.75rem;
}

.content-header__logo {
    display: block;
    width: 5rem;
    height: 5rem;
    background: url(../images/ukraine-flag.png) center no-repeat;
    object-fit: contain;
    background-size: cover;
}

.content-header__list {
    list-style: none;
    display: flex;
    gap: 4.188rem;
    align-items: center;
}

.content-header__link {
    color: white;
    text-decoration: none;
    font-size: 1.063rem;
    position: relative;
}

.content-header__link::after {
    content: "";
    position: absolute;
    bottom: -0.875rem;
    width: 1.375rem;
    height: 0.125rem;
    display: block;
    background-color: #fff;
    opacity: 0;
    transition: 1.75s;
}

.content-header__link.active {
    font-weight: 800;
}

.content-header__link.active::after,
.content-header__link:hover::after {
    opacity: 1;
}

.content-header__link.wallet {
    background-image: url(../images/mono-wallet-open.svg);
    display: block;
    height: 1.5rem;
    width: 1.5rem;
}

.content-main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: white;
}

.swiper {
    height: calc(100vh - 7rem);
    position: relative;
    /* display: flex; */
}

.swiper-wrapper {
    flex-basis: 500px;
    position: inherit;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    right: inherit;
    left: 3.75rem;
    top: 15rem;
    position: absolute;
    width: 203px;
    flex-basis: 203px;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 2.75rem 0 2.75rem 0;
}
.swiper-pagination-bullet-active {
    background: transparent;

}

.swiper-pagination-bullet {
    background: transparent;
    width: inherit;
    height: inherit;
    text-align: left;
    font-size: 2.125rem;
    font-weight: 800;

}

.swiper-pagination-bullet span {
    display: block;
}
.swiper-pagination-bullet span:nth-child(1) {
    font-size: 1.438rem;
    font-weight: 600;
}
.swiper-pagination-bullet span:nth-child(2) {
    font-size: 1.063rem;
    font-weight: 600;
    color: #bcbcbc
}
.swiper-footer {
    position: absolute;
    backdrop-filter: blur(47.2917px);
    background-color: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0, 4753) 76.04%, rgba(66, 66, 66, 0) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiper-slide {
    position: inherit;
}
.swiper-body {
    margin-left: 50%;
}
.swiper-body__title {
    font-family: 'Caudex', serif;
    font-weight: 700;
    font-size: 2.813rem;
    line-height: 1.2;
}
.swiper-body__title span {
    position: relative;
}
.swiper-body__title span::before,
.swiper-body__title span::after {
    content: '3D printed';
    position: absolute;
    width: 100%;
    z-index: -1;
}
.swiper-body__title span::before {
    top: 0;
    left: -2px;
    color: #e9c304;
}
.swiper-body__title span::after {
    bottom: -2px;
    left: 5px;
    color: #074394;
}
.swiper-body__desc {
    font-size: 20px;
    line-height: 1.4;
    color: #bcbcbc;
}
.swiper-body__btn {
    font-family: 'Orbitron', sans-serif;

    text-decoration: none;


}
.swiper-body__buy {
    font-weight: 800;
    font-size: 18px;
    color: #252525;
    background-color: #fff;
    padding: 10px 22px;
    position: relative;
    margin-right: 30px;
}
.swiper-body__buy:hover {
    box-shadow: 0 0 0 6px #fff;
    transition: 0.2s;
}
.swiper-body__buy::before,
.swiper-body__buy::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

swiper-body__buttons {
    display: flex;
    align-items: center;

}
.swiper-body__buy::before {
    background-color:   #e9c304;;
    top: -4px;
    left: -4px;
}
.swiper-body__buy::after {
    background-color: #5025fb;
    right: -4px;
    bottom: -4px;
}
.swiper-body__view {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 14px 21px;
}
.swiper-body__view:hover {
    box-shadow: 0 0 0 2px #fff;
}
.swiper-cover {
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    padding-right: 3.1rem;

}
.swiper-cover__img {
    height: 100%;
    position: absolute;

}
.swiper-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    gap: 5%;
    flex-basis: calc(100% - 120px);
    padding-left: 3.75rem;
    padding-bottom: 3rem;

}
.swiper-info__author {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    font-family: 'Caudex', serif;
    font-size: 1.438rem;
    font-weight: 700;
}
.swiper-info__item {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.063rem;
}
.swiper-info__item span {
    font-size: 1.063rem;
    font-weight: 500;
    color: #bcbcbc;
    display: block;
    font-family: 'Catamaran', sans-serif;
    margin-top: 0.688rem;
}