body {
  background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
}
body,
html {
  height: 100vh;
}
.content {
  display: grid;
  grid-template-columns: 6.85rem 1fr;
  grid-template-rows: 6.85rem 1fr;
  height: 100%;
}
.content-sidebar {
  border-right: #505050 solid 1px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-sidebar__button {
  display: block;
  position: relative;
  width: 100%;
  height: 6.125rem;
  background: linear-gradient(127.44deg, #505050 0, #383838 100%);
  border: none;
}
.content-sidebar__button::after {
  position: absolute;
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/menu-icon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: calc(50% - 0.75rem);
  left: calc(50% - 0.75rem);
}
.content-sidebar__list {
  list-style: none;
}
.content-sidebar__link {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  background-repeat: no-repeat;
  background-position: center center;
}
.content-sidebar__fb {
  background-image: url(../images/facebook.svg);
  background-size: cover;
}
.content-sidebar__ig {
  background-image: url(../images/instagram.svg);
  background-size: cover;
}
.content-sidebar__tw {
  background-image: url(../images/twitter.svg);
  background-size: cover;
}

.content-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
